.rarity-filter {
  margin-bottom: 20px;
}

.rarity-filter h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.rarity-filter-table table {
  border-collapse: collapse;
  width: 100%;
  max-width: 400px;
  background-color: #f8f8f8;
}

.rarity-filter-table th, 
.rarity-filter-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.rarity-filter-table th {
  background-color: #f2f2f2;
  text-align: center;
}

.lb-yes {
  color: aqua;
}

.lb-no {
  color: #ccc;
}
